header {
  padding: 25px;
  size: 20px;
  font-style: oblique;
}

article {
  size: 12px;
  width: auto;
  border: 1px solid black;
  padding: 25px;
  margin: 25px;
}

aside {
  float: right;
}

head {
  font-style: oblique;
}

footer {
  font-style: italic;
}
